/data
*.log
/logs
/web
/etc/apache/sites-enabled/*.conf
!/etc/apache/sites-enabled/apache-config.conf
/etc/nginx/conf.d/sites-enabled/*
/var
/etc/proftpd/ftpd.passwd
/etc/postfix/sasl_passwd
/etc/postfix/sasl_passwd.db
/.env
